<div class="form">
<form method="POST" id="{{_form}}">

<p><a href="http://kb.mailchimp.com/article/where-can-i-find-my-api-key/" target="_blank">{" Where can I find my MailChimp API Key? "}</a></p>

<p>{"MailChimp API Key"}:<br />
<input type="text" name="mailchimp_api" size="20" value="{{ mailchimp_api }}" />
<span class="notice" id="mailchimp_api-notice">{" You must enter your MailChimp API Key. "}</span>
</p>

<p>{"Newsletter page title"}:<br />
<input type="text" name="title" size="40" value="{{ title|quotes }}" />
<span class="notice" id="title-notice">{"You must enter a page title."}</span></p>

<p>{"Default newsletter"}:<br />
<select name="default_list">
{% foreach newsletter_raw_lists () as newsletter %}
	<?= Form::option ($data->newsletter['id'], $data->newsletter['name'], $data->default_list) ?>
{% end %}
</select>
</p>

<p>
	<input type="submit" value="{" Save Settings "}" />
	&nbsp;
	<a href="/newsletter/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>
</div>
