<script type="text/javascript" src="/js/jquery.verify_values.js"></script>
<script type="text/javascript">
$(function () {
	$('#mailchimp-api-form').verify_values ({
		handler: 'newsletter/admin',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}
});
</script>

<form method="POST" id="mailchimp-api-form">

<p><a href="http://kb.mailchimp.com/article/where-can-i-find-my-api-key/" target="_blank">{" Where can I find my Mailchimp API Key? "}</a></p>

<p>{" Mailchimp API Key "}:<br />
<input type="text" name="mailchimp_api" size="20" value="{{ mailchimp_api }}" />
<span class="notice" id="mailchimp_api-notice">{" You must enter your Mailchimp API Key. "}</span>
</p>

<p><input type="submit" value="{" Save Changes "}" /></p>

</form>
