<script src="/js/jquery.verify_values.js"></script>
<style>
.notice {
    color: #69c;
    display: none;
}
</style>
<script>
$(function () {
	$('#subscribe-form').verify_values ({
		handler: 'newsletter/subscribe',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}

	$('#add-form').autosave ();
});
</script>

<form method="POST" id="subscribe-form">
<p>{"First Name"}:<br /><input type="text" name="first_name" size="40" value="{{ first_name }}" />
<span class="notice" id="first_name-notice">{"You must enter your first name."}</span></p>
<p>{"Last Name"}:<br /><input type="text" name="last_name" size="40" value="{{ last_name }}" />
<span class="notice" id="last_name-notice">{"You must enter your first name."}</span></p>
<p>{"Email address"}:<br /><input type="text" name="email" size="40" value="{{ email }}" />
<span class="notice" id="email-notice">{"You must enter a valid email, or your email may already be registered."}</span></p>

<input name="list_id" type="hidden" value="{{ list_id }}">
<input type="submit" value="Subscribe!">
</form>
