<form class="newsletter-widget" id="subscribe_widget_{{ list_id }}">
	<label>{"Email"}:</label>	
	<input name="email" type="email" />
	<input type="submit" value="{'Subscribe'}" />
</form>

<script>
$(function () {
	$('#subscribe_widget_{{ list_id }}').on ('submit', function (e) {
		e.preventDefault ();

		var el =  $('#subscribe_widget_{{ list_id }}'),
			form = el[0],
			email = form.elements.email.value,
			regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;

		if (! regex.test (email)) {
			alert ('{"Please enter a valid email address."}');
			return false;
		}

		$.post (
			'/newsletter/api/subscribe',
			{list_id: '{{list_id}}', email: email},
			function (res) {
				if (! res.success) {
					el.replaceWith ('<p>' + res.error + '</p>');
				} else {
					el.replaceWith ('<p>' + res.data + '</p>');
				}
			}
		);
	});
});
</script>
